<%= stylesheet_link_tag "home/index", :media => "all" %>
<%= stylesheet_link_tag "users/index", :media => "all" %>
<%= render 'home/nav' %>
<section id="services">
    <div class="container">
    <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="col-md-12">
                    <h2 class="text-center"><strong>ユーザー一覧</strong></h2>
                    <%= render 'top/show' %>
                    </di
                </div>
            </div>
        </div>
</section>

