<%= stylesheet_link_tag "home/index", :media => "all" %>
<%= stylesheet_link_tag "users/index", :media => "all" %>
<%= render 'home/nav' %>


<div class="profile-card" style="color: rgba(240,75,64,0);">
<div class="profile-back" style="background-color: rgb(240,75,64);"></div><img class="rounded-circle profile-pic" src="assets/img/2.jpg">
<h3 class="profile-name" style="background-color: rgb(240,75,64);"><%= current_user.username %></h3>
<p class="profile-bio" style="color: rgb(0,0,0);">フォロワー：　フォロー：</p>

    <p class="profile-bio" style="color: rgb(0,0,0);">プロフィール文</p>
</div>