<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: #000000;">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="/">Fastter</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation"><i class="fa fa-align-justify" style="color: rgb(240,95,64);"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/notifications" style="color:rgba(255,255,255,0.7)">通知</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/posts" style="color:rgba(255,255,255,0.7)">投稿</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/users/edit" style="color:rgba(255,255,255,0.7)">設定</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/top" style="color:rgba(255,255,255,0.7)">ユーザー一覧</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/posts/allpost" style="color:rgba(255,255,255,0.7)">皆の投稿</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/zozo/index" style="color:rgba(255,255,255,0.7)">人気のアイテム</a></li>
              <li class="nav-item" role="presentation"> <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"nav-link",style:"color:rgba(255,255,255,0.7)" %></li>
              <% else %>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/users/sign_up" style="color:rgba(255,255,255,0.7)">新規登録</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/users/sign_in" style="color:rgba(255,255,255,0.7)">ログイン</a></li>
                <% end %>
              <li class="nav-item" role="presentation"></li>
          </ul>
      </div>
  </div>
</nav>