<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "home/index", :media => "all" %>

<body id="page-top">
   
    <header class="masthead text-center text-white d-flex" style="background-image: url(<%= asset_path 'header.jpg' %>);">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>ファッションにも効率を</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5" style="color: #ffffff;font-size: 19px;">毎日、どんな服装にしようかで悩んでいませんか？そんな時間勿体ないですよねこのサービスはそんな問題を解決するために作られたサービスです！&nbsp;</p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services" style="background-color: rgb(240,75,64);">今すぐ始めてみる</a></div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fastterの特徴</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-check-circle fa-4x text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">コーデ保存機能</h3>
                        <p class="text-muted mb-0">撮影してそれをアップロードすればコーデを保存できます。</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">シェア機能</h3>
                        <p class="text-muted mb-0">シェア機能をつけることで、色んな人の服装を参考にすることができます。</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-heart fa-4x text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">いいね機能</h3>
                    <p class="text-muted mb-0">いいねをすることで、お気に入りを登録できます。</p>
                </div>
            </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-user fa-4x text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">ランキング機能</h3>
                        <p class="text-muted mb-0">いいねの数によってランキングを表示するので人気の服装が把握できます。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="p-0">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/1.jpg"><img class="img-fluid" src="thumbnails/1.jpg" /><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
            <div
                class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/2.jpg"><img class="img-fluid" src="thumbnails/2.jpg" /><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
        <div
            class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/3.jpg"><img class="img-fluid" src="thumbnails/3.jpg" /><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
    <div
        class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/4.jpg"><img class="img-fluid" src="thumbnails/4.jpg" /><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
        <div
            class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/5.jpg"><img class="img-fluid" src="thumbnails/5.jpg" /><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
            <div
                class="col-sm-6 col-lg-4"><a class="portfolio-box" href="fullsize/6.jpg"><img class="img-fluid" src="thumbnails/6.jpg" /><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
                </div>
                </div>
</section>
    <section class="bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">今すぐ初めてみませんか？</h2><a class="btn btn-light btn-xl sr-button" role="button"href="#">アカウントを作成する</a></div>
    </section>

    <%= javascript_include_tag('index.js') %>
</body>

</html>