<%= stylesheet_link_tag "home/index", :media => "all" %>
<body id="page-top">
<%= render 'home/nav' %>

    <header class="masthead text-center text-white d-flex" style="background-image: url(<%= asset_path 'header.jpg' %>);">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Fastter</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
            <p></p>
                <p class="text-faded mb-5" style="color: #ffffff;font-size: 19px;">お気に入りの服装をシェアしたり、好みの服装を見つけませんか？&nbsp;</p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="/users/sign_up" style="background-color: rgb(240,75,64);">今すぐ始めてみる</a></div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fastterの特徴</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-check-circle fa-4x text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">コーデ保存機能</h3>
                        <p class="text-muted mb-0">撮影してそれをアップロードすればコーデを保存できます。</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">シェア機能</h3>
                        <p class="text-muted mb-0">シェア機能をつけることで、色んな人の服装を参考にすることができます。</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-heart fa-4x text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">いいね機能</h3>
                    <p class="text-muted mb-0">いいねをすることで、お気に入りを登録できます。</p>
                </div>
            </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-user fa-4x text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">ランキング機能</h3>
                        <p class="text-muted mb-0">いいねの数によってランキングを表示するので人気の服装が把握できます。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
<%= javascript_include_tag('index.js') %>
</body>


</html>