// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.pagination {
    display: none;
  }
  
  body {
    font-family: sans-serif;
    background-color: #eeeeee;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: rgb(230, 73, 45);
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(235, 87, 50);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: rgb(216, 79, 45);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #cd4535;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #cd4535;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(202, 48, 37);
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  #cat{
    display:none;
  }


  .h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

.article-dual-column {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-dual-column .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-dual-column .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 25px;
}

.article-dual-column .intro p {
  color: #929292;
  font-size: 12px;
}

.article-dual-column .intro p .by {
  font-style: italic;
}

.article-dual-column .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-dual-column .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-dual-column .intro img {
  margin-top: 25px;
}

.article-dual-column .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-dual-column .text p {
    font-size: 16px;
  }
}

.article-dual-column .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .article-dual-column .text h2 {
    font-size: 20px;
  }
}

.article-dual-column .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-dual-column .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

@media (max-width:767px) {
  .article-dual-column .toc {
    border: 1px solid #d3d3d3;
    padding: 20px 0 15px;
    margin-bottom: 20px;
    border-width: 1px 0;
  }
}

.article-dual-column .toc p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.article-dual-column .toc ul {
  padding-left: 20px;
  font-size: 13px;
  margin-bottom: 0;
}

.article-dual-column .toc li {
  padding: 2px 0;
}

.article-dual-column .toc a {
  color: inherit;
}

ul {
  list-style: none;
}

.rounded-circle {

    background:none;
    border:0;
}