.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
 
img {
    width: 250px;
    height: 250px;
    object-fit: cover; 
  }